<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
    {{ form_start(form) }}
    {{ form_widget(form.Titre,{'attr':{'placeholder':'Titre'}}) }}

   </br></br>

   {{ form_widget(form.Contenu,{'attr':{'placeholder':'Contenu'}}) }} 

    </br></br>

   {{ form_widget(form.Date_ajout ) }} 

   </br></br>
    <button class="btn">{{ button_label|default('Ajouter') }}</button>
   {{ form_end(form) }}
</body>
</html>